@import '../../../styles/colors';

:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;
    li {
      .p-tabview-nav-link {
        background: $bgColor;
      }

      &.p-highlight .p-tabview-nav-link {
        background: $bgColor;
      }
    }
  }
}
